<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.metrics"
   name="metrics Plug-in"
   version="1.3.5"
   provider-name="Frank Sauer"
   class="net.sourceforge.metrics.core.MetricsPlugin">

   <runtime>
      <library name="metrics.jar">
         <export name="*"/>
      </library>
      <library name="jdbm.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.ant"/>
      <import plugin="org.eclipse.ant.core"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.junit"/>
   </requires>


   <extension-point id="metrics" name="metrics" schema="schema/net.sourceforge.metrics.exsd"/>
   <extension-point id="exporters" name="exporters" schema="schema/exporters.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Metrics"
            id="net.sourceforge.metrics">
      </category>
      <view
            name="Metrics View"
            icon="icons/mview.gif"
            category="net.sourceforge.metrics"
            class="net.sourceforge.metrics.ui.MetricsView"
            id="net.sourceforge.metrics.ui.MetricsView">
      </view>
      <view
            name="Dependency Graph View"
            icon="icons/gview.gif"
            category="net.sourceforge.metrics"
            class="net.sourceforge.metrics.ui.DependencyGraphView"
            id="net.sourceforge.metrics.ui.DependencyGraphView">
      </view>
   </extension>
   <extension
         id="nature"
         name="Metrics Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.sourceforge.metrics.builder.MetricsNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="builder"
         name="Metrics Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="net.sourceforge.metrics.builder.MetricsBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocapi.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Metrics Preferences"
            class="net.sourceforge.metrics.ui.preferences.MetricsPreferencePage"
            id="net.sourceforge.metrics.ui.MetricsPreferencePage">
      </page>
      <page
            name="NORM"
            category="net.sourceforge.metrics.ui.MetricsPreferencePage"
            class="net.sourceforge.metrics.ui.preferences.NORMPreferencePage"
            id="net.sourceforge.metrics.norm">
      </page>
      <page
            name="LCOM*"
            category="net.sourceforge.metrics.ui.MetricsPreferencePage"
            class="net.sourceforge.metrics.ui.preferences.LCOMPreferencePage"
            id="net.sourceforge.metrics.lcom">
      </page>
      <page
            name="Safe Ranges"
            category="net.sourceforge.metrics.ui.MetricsPreferencePage"
            class="net.sourceforge.metrics.ui.preferences.RangePage"
            id="net.sourceforge.metrics.rangeeditor">
      </page>
      <page
            name="XML Export"
            category="net.sourceforge.metrics.ui.MetricsPreferencePage"
            class="net.sourceforge.metrics.ui.preferences.XMLExportPage"
            id="net.sourceforge.metrics.xmlexport">
      </page>
      <page
            name="Colors"
            category="net.sourceforge.metrics.ui.MetricsPreferencePage"
            class="net.sourceforge.metrics.ui.preferences.ColorPreferencePage"
            id="net.sourceforge.metrics.colors">
      </page>
   </extension>
   <extension
         id="outofrangemarker"
         name="MetricsOutOfRangeMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="metric">
      </attribute>
      <attribute
            name="value">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="coremetrics"
         name="Core Metrics"
         point="net.sourceforge.metrics.metrics">
      <!--metric
            name="Lines of Code"
            id="LOC"
            level="method">
         <range
               max="50"
               hint="use Extract-method to split the method up">
         </range>
      </metric-->
      <metric
            propagateSum="false"
            name="McCabe Cyclomatic Complexity"
            id="VG"
            level="method">
         <range
               max="10"
               hint="use Extract-method to split the method up">
         </range>
      </metric>
      <metric
            propagateSum="false"
            name="Number of Parameters"
            id="PAR"
            level="method">
         <range
               max="5"
               hint="Move invoked method or pass an object">
         </range>
      </metric>
      <metric
            propagateSum="false"
            name="Nested Block Depth"
            id="NBD"
            level="method">
         <range
               max="5"
               hint="use Extract-method to split the method up">
         </range>
      </metric>
      <metric
            propagateSum="false"
            name="Afferent Coupling"
            id="CA"
            level="packageFragment">
      </metric>
      <metric
            propagateSum="false"
            name="Efferent Coupling"
            id="CE"
            level="packageFragment">
      </metric>
      <metric
            propagateSum="false"
            name="Instability"
            requires="CE,CA"
            id="RMI"
            level="packageFragment">
      </metric>
      <metric
            propagateSum="false"
            name="Abstractness"
            id="RMA"
            level="packageFragment">
      </metric>
      <metric
            propagateSum="false"
            name="Normalized Distance"
            requires="RMA,RMI"
            id="RMD"
            level="packageFragment">
      </metric>
      <metric
            propagateSum="false"
            name="Depth of Inheritance Tree"
            id="DIT"
            level="type">
      </metric>
      <!--metric
            sumOf="LOC"
            name="Lines of Code"
            requires="LOC"
            id="LOCC"
            level="type">
         <range
               max="750"
               hint="Split up the class and use delegation">
         </range>
      </metric-->
      <metric
            level="compilationUnit"
            name="Total Lines of Code"
            id="TLOC"
            allowDisable="true"/>
      <metric
            level="method"
            name="New Methods Lines of Code"
            id="MLOC"
            allowDisable="true"/>
      
      <metric
            sumOf="VG"
            name="Weighted methods per Class"
            requires="VG"
            id="WMC"
            level="type">
      </metric>
      <metric
            name="Number of Children"
            id="NSC"
            level="type">
      </metric>
      <metric
            name="Number of Overridden Methods"
            id="NORM"
            level="type">
      </metric>
      <metric
            propagateSum="false"
            name="Lack of Cohesion of Methods"
            id="LCOM"
            level="type">
      </metric>
      <metric
            name="Number of Attributes"
            id="NOF"
            level="type">
      </metric>
      <metric
            name="Number of Static Attributes"
            id="NSF"
            level="type">
      </metric>
      <metric
            name="Number of Methods"
            id="NOM"
            level="type">
      </metric>
      <metric
            name="Number of Static Methods"
            id="NSM"
            level="type">
      </metric>
      <metric
            propagateSum="false"
            name="Specialization Index"
            requires="NOM,NORM,DIT"
            id="SIX"
            level="type">
      </metric>
      <metric
            allowDisable="false"
            name="Number of Classes"
            propagateAvg="false"
            newAvgMaxAt="packageFragmentRoot"
            propagateMax="false"
            id="NOC"
            level="compilationUnit">
      </metric>
      <metric
            allowDisable="false"
            name="Number of Interfaces"
            propagateAvg="false"
            newAvgMaxAt="packageFragmentRoot"
            propagateMax="false"
            id="NOI"
            level="compilationUnit">
      </metric>
      <metric
            allowDisable="false"
            name="Number of Packages"
            id="NOP"
            level="packageFragmentRoot">
      </metric>
<!-- calculators -->
      <!--calculator
            name="Lines of Code"
            calculatorClass="net.sourceforge.metrics.calculators.LinesOfCode"
            level="method">
      </calculator-->
            <!-- G.B. -->
      <calculator
            level="compilationUnit"
            calculatorClass="net.sourceforge.metrics.calculators.TotalLinesOfCode"
            name="Computation for total lines of code"/>      
      <calculator
            level="method"
            calculatorClass="net.sourceforge.metrics.calculators.MethodLinesOfCode"
            name="New Computation for methods lines of code"/>
      <calculator
            name="McCabe Cyclomatic Complexity"
            calculatorClass="net.sourceforge.metrics.calculators.McCabe"
            level="method">
      </calculator>
      <calculator
            name="Number of Parameters"
            calculatorClass="net.sourceforge.metrics.calculators.NumberOfParameters"
            level="method">
      </calculator>
      <calculator
            name="Nested Block Depth"
            calculatorClass="net.sourceforge.metrics.calculators.NestedBlockDepth"
            level="method">
      </calculator>
      <calculator
            name="Inheritance Depth"
            calculatorClass="net.sourceforge.metrics.calculators.InheritanceDepth"
            level="type">
      </calculator>
      <calculator
            name="Lack of Cohesion of Methods"
            calculatorClass="net.sourceforge.metrics.calculators.LackOfCohesion"
            level="type">
      </calculator>
      <calculator
            name="Number of Overridden Methods"
            calculatorClass="net.sourceforge.metrics.calculators.Norm"
            level="type">
      </calculator>
      <calculator
            name="Number of Attributes"
            calculatorClass="net.sourceforge.metrics.calculators.NumberOfAttributes"
            level="type">
      </calculator>
      <calculator
            name="Number of Methods"
            calculatorClass="net.sourceforge.metrics.calculators.NumberOfMethods"
            level="type">
      </calculator>
      <calculator
            name="SpecializationIndex"
            calculatorClass="net.sourceforge.metrics.calculators.SpecializationIndex"
            level="type">
      </calculator>
      <calculator
            name="RMartinCouplings"
            calculatorClass="net.sourceforge.metrics.calculators.RMartinCouplings"
            level="packageFragment">
      </calculator>
   </extension>
   <extension
         point="net.sourceforge.metrics.exporters">
      <exporter
            name="Metrics flat"
            namespace="http://metrics.sourceforge.net/2003/Metrics-First-Flat"
            description="exports each metric with a flat list of values for the appropriate descendants"
            class="net.sourceforge.metrics.internal.xml.MetricsFirstExporter">
      </exporter>
      <exporter
            name="Source tree"
            namespace="http://metrics.sourceforge.net/2003/Source-hierarchical"
            description="exports the selected element and its subtree, with metrics at each level"
            class="net.sourceforge.metrics.internal.xml.XMLSourceTreeExporter">
      </exporter>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="anttasks.jar"
            name="eclipse.build"
            class="net.sourceforge.metrics.ant.ProjectBuild">
      </antTask>
      <antTask
            library="anttasks.jar"
            name="metrics.enable"
            class="net.sourceforge.metrics.ant.EnableMetricsTask">
      </antTask>
      <antTask
            library="anttasks.jar"
            name="metrics.export"
            class="net.sourceforge.metrics.ant.ExportMetricsTask">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.jdt.core.IJavaProject"
            name="Metrics"
            class="net.sourceforge.metrics.properties.MetricsPropertyPage"
            nameFilter="*"
            id="net.sourceforge.metrics.properties.MetricsPropertyPage">
      </page>
   </extension>

</plugin>
